<section>
	<div class="eight columns about">
		<p class="post_intro">About Me</p>

		<p>
			I'm Phil Gengler, a software developer from New Jersey.
		</p>
		<p>
			Ever since I first came in contact with computers I've been interested in understanding them and bending them to my will.
			I started out typing up programs out of old BASIC books before moving on to C and C++.
			I learned web programming with Perl by making different "hacks" (community-developed add-on features) for <acronym title="Ultimate Bulletin Board">UBB</a> work together.
		</p>
		<p>
			Stubborn as I am, this blog runs on a custom-written backend.
			It's one of my many little projects; others include <a href="https://twitter.com/beakeringnews">@beakeringnews</a>, <a href="http://www.howmuchisoil.com">How Much Is Oil?</a> and <a href="https://github.com/pgengler/GIR">yet another IRC bot</a>.
			You can find the code for many of my other projects on <a href="https://github.com/pgengler">Github</a>.
		</p>
		<p>
			I have a number of hobbies outside of writing code; among them are aviation (I'm a private pilot), photography, model trains, and cooking.
		</p>
	</div>
	<br class="clear">
</section>
