aside {
	margin: 2em !important;
}

footer {
	text-align: center;
}

header.masthead {
	font-family: Georgia, serif;
	padding-right: 2em;
	text-align: right;
}

	header.masthead h1 {
		letter-spacing: 0.35em;
	}

	header.masthead p {
		font-style: italic;
	}

article header h2 {
	margin-bottom: 0
}

article header {
	margin-bottom: 0.75em;
}

article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	text-align: justify;
}
