<section>
	<div class="eight columns">
		<h4 class="post_title"><%= link_to post.title, post_path_with_slug(post) %></h4>
		<a href="archive.html"><%= time_tag post.created_at, class: 'post_date' %></a>

		<p>
			<%= markdown post.content %>
		</p>

		<%= link_to post_path_with_slug(post) do %>
			<button class="float_right">READ MORE</button>
		<% end %>

	</div>
	<br class="clear">
</section>
