<article>
	<header>
		<h2><%= link_to post.title, post_path(post) %></h2>
		<time><%= post.created_at %></time>
	</header>
	<section>
		<% if post.pullquote %>
		<aside class='top right'>
			&#8220; <%= post.pullquote %> &#8221;
		</aside>
		<% end %>
		<p><%= post.content %></p>
	</section>
</article>
