<section class="post">
	<div class="eight columns">
		<h4 class="post_title"><%= link_to post.title, post_path_with_slug(post) %></h4>
		<%= time_tag local_time(post.created_at), class: 'post_date' %>

		<%= post.rendered_content.html_safe %>
	</div>
	<br class="clear">
</section>
