<% if notice %>
<div class='alert alert-success'>
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= notice %>
</div>
<% end %>

<section>
	<div class="eight columns">
		<h4 class="post_title"><%= link_to @post.title, post_path_with_slug(@post) %></h4>
		<a href="archive.html"><%= time_tag @post.created_at, class: 'post_date' %></a>

		<%= markdown(@post.content) %>

		<div class="metadata">
			<span>
				<i class="icon-list" title="Tags"></i>
		</div>
	</div>

	<br class="clear">
</section>

