$bodyBackground: #B3C8DB;
$linkColor: #3A678E;
@import 'bootstrap';

body {
	font-weight: 300;
}

.masthead {
	background-color: #3A678E;
	padding: 2.25em 0 0 0;

	$headerTextColor: #AEB8C1;

	h1 {
		font-family: 'PT Mono', Monaco, monospace;
		font-weight: 400;
		letter-spacing: 0.35em;
		margin-bottom: .75em;

		a {
			color: $headerTextColor;
			&:hover {
				text-decoration: none;
			}
		}
	}

	nav li a {
		color: $headerTextColor;
		&:hover {
			background-color: $headerTextColor;
			color: #005580;
		}
	}
}

.main-content {
	background-color: white;
	padding: 2em 2em 0 2em;
}

article {
	header {

		margin-bottom: 0.75em;

		h2 {
			margin-bottom: 0
		}

		time {
			font-size: 85%;
		}
	}

	p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		line-height: 1.5em;
		text-align: justify;
	}

	p + p {
		margin-top: 1em;
	}

	& + article {
		margin-top: 3em;
	}
}

footer {
	margin-top: 2em;
	text-align: center;
}

[data-pullquote]:before {
	content: attr(data-pullquote);
	float: right;
	font-size: 110%;
	line-height: 1em;
	margin: 1em 0 1em 2em;
	text-align: right;
	text-indent: 0;
	width: 20%;
}

input, textarea {
	width: 100%;
}
