$bodyBackground: #B3C8DB;
$linkColor: #3A678E;
@import 'bootstrap';

body {
	font: 100%/1.618 $sansFontFamily;
	font-weight: 300;
}

.masthead {
	padding: 2.25em 0 0 0;

	& > div {
		padding-left: 3em;
	}

	h1 {
		font-family: 'PT Mono', Monaco, monospace;
		font-weight: 400;
		letter-spacing: 0.35em;
		margin-bottom: .75em;

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	nav li a {
		&:hover {
			background-color: #AEB8C1;
			color: #005580;
		}
	}
}

.main-content {
	background-color: white;
	border: 1px solid lighten($linkColor, 30%);
	padding: 2em 2em 0 2em;
}

article {
	padding-left: 1.618em;
	padding-right: 1.618em;

	header {
		margin-bottom: 0.75em;

		h2 {
			margin-bottom: 0;
		}

		div {
			font-size: 85%;
		}

		ul.tags {
			display: inline-block;
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;

				&:not(:last-child):after {
					content: ', '
				}
			}
		}
	}

	p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		text-align: justify;
	}

	p + p {
		margin-top: 1em;
	}

	& + article {
		margin-top: 3em;
	}

	&:after {
		content: '⁂';
		display: block;
		font-size: 200%;
		text-align: center;
	}
}

footer {
	margin-top: 2em;
	text-align: center;
}

[data-pullquote]:before {
	content: attr(data-pullquote);
	float: right;
	font-size: 110%;
	line-height: 1em;
	margin: 1em 0 1em 2em;
	text-align: right;
	text-indent: 0;
	width: 20%;
}

input, textarea {
	width: 100%;
}
