footer {
	text-align: center;
}

header.masthead {
	font-family: Georgia, serif;
	padding-right: 2em;
	text-align: right;
}

	header.masthead h1 {
		letter-spacing: 0.35em;
	}

	header.masthead p {
		font-style: italic;
	}

article header h2 {
	margin-bottom: 0
}

article header {
	margin-bottom: 0.75em;
}

article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	text-align: justify;
}

article p + p {
	margin-top: 1em;
}

[data-pullquote]:before {
	content: attr(data-pullquote);
	float: right;
	font-size: 120%;
	line-height: 1.5em;
	margin: 1em 0 1em 2em;
	text-indent: 0;
	width: 20%;
}
